@charset "utf-8";


/*===================================================*\ 
 * 常见问题 template6
\*===================================================*/
.king-page-problem{
    padding-bottom: 30px;
    section {
        padding-top: 30px;
        h2 {
            min-height: 25px;
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            line-height: 25px;
        }
        >div {
            padding: 13px 25px 8px 13px;
            margin-top: 10px;
            border: 1px solid #e3e3e3;
            background: #f5f5f5;
            position: relative;
            &::after{
                display: block;
                content: "";
                width: 17px;
                height: 11px;
                position: absolute;
                top: -11px;
                left: 32px;
            } 
        }
        p {
            font-size: 13px;
            line-height: 24px;
        }
    }
} 

/*===================================================*\ 
 * 提示信息 template3
\*===================================================*/
.king-help-block {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
	font-size: 12px;
}