@charset "utf-8";
@import "layout/sidebar";
@import "layout/nav";
@import "layout/header";
@import "layout/grid";
@import "layout/common";
@import "components/panel";
@import "components/button";
@import "components/widget";
@import "components/timeline";
@import "components/breadcrumb";
@import "components/step";
@import "components/notice";
@import "components/exception";
@import "components/tab";
@import "components/colresizable";
@import "components/instructions";
@import "components/form";
@import "components/badge";
@import "components/fonts";
@import "pages/index";
@import "other/tools";
@import "base/bootstrap_reset";
@import "base/common";



/* 表单样式因字体大小改变导致的错乱修复 start */
.bk-lh30{
    line-height: 30px;
}

.bk-h30{
    height: 30px;
}

.bk-valign-top{
    vertical-align: top;
}

.bk-top5{
    top: 5px;
}

button.king-btn.bk-mt3{
    margin-top: 3px;
}

button.king-btn.bk-block{
    display: block;
}
